@{
    ViewBag.Title = "Data Acceptance Full Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<style>
    label {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: center;
        width: 150px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .btn-primary {
        color: #fff;
        background-color: #383095;
        border-color: #383095;
    }
</style>
<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">KYC Data Acceptance Full Report</a> </li>
    </ul>
    <hr class="m-0">
</div>

<br />
<div ng-app="myApp" ng-controller="kycDataAcceptanceFullReport">
    <div class="container">
        <div class="panel panel-default">
            <div style="margin-left:10%">
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label>From Date</label>
                        <input type="date" class="form-control" ng-model="from_date" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label>To Date</label>
                        <input type="date" class="form-control" ng-model="to_date" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-primary mb-2" ng-disabled="Search_Text===''" ng-click="GetGridRecord(from_date,to_date)">
                            <span ng-show="searchButtonText == 'Searching'">
                                <img style="width:20px;height:20px;" src="~/images/loader.gif" />
                            </span>
                            {{ searchButtonText }}
                        </button>
                    </div>
                    <div class="form-group mb-2">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div style="overflow:auto">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color:darkgrey">
                    <th>SR_NO</th>
                    <th>ADD2</th>
                    <th>ADD3</th>
                    <th>CITY1</th>
                    <th>STATE1</th>
                    <th>COUNTRY</th>
                    <th>PIN2</th>
                    <th>EMAILID </th>
                    <th>MOBILE_NO</th>
                    <th>PHONE</th>
                    <th>RESI_PHONE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data_acceptance_full_grid_data track by $index">
                    <td>{{$index+1}}</td>
                    <td class="text-capitalize">{{item.ADD2}}</td>
                    <td>{{item.ADD3}}</td>
                    <td>{{item.CITY1}}</td>
                    <td>{{item.STATE1}}</td>
                    <td>{{item.COUNTRY}} </td>
                    <td>{{item.PIN2}}</td>
                    <td>{{item.EMAILID}} </td>
                    <td>{{item.MOBILE}}</td>
                    <td>{{item.PHONE}}</td>
                    <td>{{item.RESIPHONE}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
